<web-app>
<servlet>
<servlet-name>al</servlet-name>
<servlet-class>AdminLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>al</servlet-name>
<url-pattern>/al</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ll</servlet-name>
<servlet-class>LibrarianLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ll</servlet-name>
<url-pattern>/ll</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>all</servlet-name>
<servlet-class>AddLibrarian</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>all</servlet-name>
<url-pattern>/all</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>rl</servlet-name>
<servlet-class>RemoveLibrarian</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>rl</servlet-name>
<url-pattern>/rl</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>vl</servlet-name>
<servlet-class>ViewLibrarian</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>vl</servlet-name>
<url-pattern>/vl</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ab</servlet-name>
<servlet-class>AddBook</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ab</servlet-name>
<url-pattern>/ab</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>rb</servlet-name>
<servlet-class>RemoveBook</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>rb</servlet-name>
<url-pattern>/rb</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>vbb</servlet-name>
<servlet-class>ViewBook</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>vbb</servlet-name>
<url-pattern>/vbb</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>vib</servlet-name>
<servlet-class>ViewIssueBook</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>vib</servlet-name>
<url-pattern>/vib</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ibb</servlet-name>
<servlet-class>IssueBook</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ibb</servlet-name>
<url-pattern>/ibb</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>rbb</servlet-name>
<servlet-class>ReturnBook</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>rbb</servlet-name>
<url-pattern>/rbb</url-pattern>
</servlet-mapping>

</web-app>